@media screen and (max-width: 1920px) {
    .logo {
        width: 6vw;
        height: 8vh;
    }
}

@media screen and (max-width: 1440px) {
    .logo {
        width: 6vw;
        height: 8vh;
    }
    .main .container-fluid{
        padding: 30px 60px;
    }
}

@media screen and (max-width: 1280px) {
    .logo {
        width: 7vw;
        height: 8vh;
    }
    .main .container-fluid{
        padding: 30px 40px;
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 7vw;
        height: 8vh;
    }
    .main .container-fluid{
        padding: 25px 35px;
    }
    .link-main {
        font-size: 18px;
    }
    .galleryOne .row .column{
        flex: 50%;
    }
}

@media screen and (max-width: 768px) {
    .header .container-fluid{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .d-flex{
        border: 1px solid white;
        border-radius: 10px;
    }
    .logo-gallery{
        display: none;
    }
    .main .container-fluid{
        padding: 10px 30px;
        margin: 8px 0px -8px 0px;
        border: 1px solid rgba(79, 79, 79, 0.233);
    }
    .galleryOne .row .column{
        flex: 50%;
    }

}

@media screen and (max-width: 480px) {
    .main .container-fluid{
        padding: 15px 25px;
    }
    .galleryOne .row .column{
        flex: 100%;
    }
    .galleryTwo .row .column img {
        width: 65vw;
        height: 92%;
    }
}

@media screen and (max-width:320px){
    .header .container-fluid{
        margin: 0px;
        padding: 0px;
    }
    .d-flex {
        border: none;
    }
    .navbar button, .navbar input{
        display: none;
    }
    .header .container-fluid .bi-list {
        display: block;
        font-size: 17px;
        color: #ccc;
        border: 2px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        margin: 0px;
        transition: background-color 1.7s, color 1.7s;
    }
    .header .container-fluid .bi-list:hover{
        background-color: #ccc;
        color: #0a0b0c;
    }
    .main .container-fluid{
        padding: 20px 0px;
        margin: 35px 0px -35px 0px;
    }
    .galleryTwo .row .column img {
        width: 70vw;
        height: 95%;
    }
}